/* Início da estilização da navbar */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-image: url('../img/Background-degrade.jpg');
    background-size: cover;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .navbar {
    background-color: #070330;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;  
}

.drop-down {
    background-color: #1F1B3F;
    border-radius: 30px;
    padding: 8px 15px;
    margin: 0 -85px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.container .user-pic {
    width: 30px;
    border-radius: 50%;
}

.drop-down p {
    padding-left: 8px;
    cursor: pointer;
}

.navbar ul {
    width: 100%;
    text-align: right;
    display: flex;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.navbar ul li a {
    color: #000;
    text-decoration: none;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    width: 100%;
    background-color: #FFF;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
    color: black;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin: 12px 12px;
}

.sub-menu-link img {
    width: 40px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link p {
    width: 100%;
    color: #000;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
    color: #000;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
} 


/* Inicio do Banner */
.container-1 {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.caixa {
   width: 381px;
   height: 1273px;
   row-gap: 30px;
   border-radius: 12px;
   background-color: #040524;
   padding: 15px 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.cliente {
    width: 349px;
    height: 85px;
    border-radius: 10px;
    color: #FFF;
    background-color: #1F1B3F;
}

.cliente h1, .cliente p {
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: start;
    text-align: center;
}

.cliente h1 {
    font-weight: 500;
    font-size: 32px;
}

.cliente p {
    font-weight: 500;
    font-size: 14px;
}

.relatorio-rack{
    flex: 1;
}

.relatorio-downtime {
    flex: 1;
}

.relatorio-rack #chart-relatorio-rack {   
    border-radius: 10px;
    color: #FFF;
    background-color: #1F1B3F;
    padding: 15px;
}

.relatorio-downtime #chart-relatorio-downtime {
    border-radius: 10px;
    color: #FFF;
    background-color: #1F1B3F;
    padding: 15px;
}

.grafico-geral {
    width: 1068px;
    height: 1273px;
    border-radius: 12px;
    background-color: #040524;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-kpi {
    width: 97%;
    background-color: #212121;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 15px;
}

.kpi-temperatura,.kpi-umidade {
    width: 100%;
    margin: auto;
    background-color: #1F1B3F;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indices {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    padding: 10px 10px;
}

.indices p {
    padding: 3px;
}

#p-perigo-min {
    color: #078BEE;
}

#p-alerta {
    color: #E9EE07;
}

#p-ideal {
    color: #19EE07;
}

#p-perigo-max {
    color: #E0211B;
}

.kpi-temperatura .kpi-atual {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.kpi-umidade .kpi-atual {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.kpi-atual #temperatura-minima, #temperatura-alerta, #temperatura-ideal, #temperatura-perigo, #umidade-minima, #umidade-alerta, #umidade-ideal, #umidade-perigo, #umidade-perigo {
    width: 23%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.kpi-atual p {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.kpi-atual #dado {
    font-weight: 700;
    font-size: 32px;
}

.kpi-atual #temperatura-minima, #umidade-minima {
    border: #078BEE solid 5px;
}

#temperatura-minima p, #umidade-minima p {
    color: #078BEE;
}

.kpi-atual #temperatura-alerta, #umidade-alerta {
    border: #E9EE07 solid 5px;
}

#temperatura-alerta p, #umidade-alerta p {
    color: #E9EE07;
}

.kpi-atual #temperatura-ideal, #umidade-ideal {
    border: #19EE07 solid 5px;
}

#temperatura-ideal p, #umidade-ideal p {
    color: #19EE07;
}

.kpi-atual #temperatura-perigo, #umidade-perigo {
    border: #E0211B solid 5px;
}

#temperatura-perigo p, #umidade-perigo p {
    color: #E0211B;
}

#chart-geral-temp, #chart-geral-umid {   
    height: 369px;
    width: 1032px;
    border-radius: 10px;
    color: #FFF;
    background-color: #1F1B3F;
    margin: 15px;
    padding: 15px;
}