/* Simulador financeiro  */
.simulador-financeiro {
    width: 100%;
    padding: 60px 0;
    background-image: url("../img/Background2.jpg");
    background-size: cover;
}

.simulador-financeiro .container {
    flex-wrap: wrap;
}

.simulador-financeiro .content-text {
    flex: 1;
    min-height: 550px;
    max-height: auto;
    align-items: center;
    justify-content: center;
}

.simulador-financeiro .content-img {
    flex: 1;
    transition: 1s;
}

#label-simulador {
    margin-bottom: 20px;
    width: 500px;
    font-size: 1.3em;
}

.content-input {
    background-color: rgb(247, 244, 244);
    border-radius: 12px;
    width: 500px;
    padding: 12px 12px;
    margin-bottom: 30px;
    color: black;
}

.content-select {
    background-color: rgb(247, 244, 244);
    border-radius: 12px;
    width: 500px;
    padding: 12px 12px;
    color: black;
    margin-bottom: 30px;
}

.op-tier {
    color: black;
}

.btn-simulador {
    margin-left: -350px;
    width: max-content;
    padding: 15px 20px;
    border-radius: 12px;
    background-color: rgb(97, 17, 172);
    color: white;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 600;
}

.btn-simulador:hover {
    transform: scale(1.05, 1.05);
    transition: 0.4s;
}

.btn-simulador:active {
    transform: scale(0.97, 0.97);
    transition: 0.4s;
}

.content-simulador {
    margin-top: 20px;
    width: 500px;
    height: 200px;
    border-radius: 18px;
}

/*Fim simulador financeiro  */